
.App {
  display: 'flex';
  flex-direction: column;
  justify-items: center;
  height: fit-content;
  width: 100%;
  
}
.App-header {
 display: flex;
 flex-direction: row;
 background-color: #789ff8;
 border: solid;
 border-color: #789ff8;
 width: 100%;
 height: 10vh;
 position: -webkit-sticky;
 padding: 5px;
 margin-bottom: 10px;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2) ;
 
 
}
.app-title{
  flex: 8;
  display: flex;
  align-items: center;
}
.app-logout{
  flex: 4;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.App-body{
  margin: 5px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  
}
.header-right{
  display: flex;
 flex-direction: row;
 justify-content:space-between;
 align-items: center;
 width: 80%;
 padding-right: 10px;
}
.worklist-container{
  /* border: solid;
  border-width: 1px;
  border-color: #dbe4fa; */
  border-bottom:solid #dbe4fa ;
  border-top:solid #dbe4fa;
  border-width: 1px;
  padding-top: 5px;
  padding-bottom: 5px;
  
}


.list-container:hover{
   color: #40344d;
  background-color: #f6f5ff;
}
.container {
  display:flex;
  flex-direction: column;
  padding: 1px;
  margin: 5px;
  border: solid;
  border-width: 1px;
  border-color: #dfe5f5;
  border-radius: 5px;
  background-color: #f8f8f8;
}

.row-header {
  display:flex;
  justify-content: space-around;
  flex-wrap: nowrap;
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom:solid #d0d9ee;
}

.list-header-left{
  flex: 0.5;
}
.list-header-center{
  flex: 6.5;
  /* flex-wrap: wrap; */
}
.list-header-right {
  flex: 5;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: nowrap;
}
/* .statistic-group{
  display: flex;
  flex-wrap: nowrap;
  height: 3px;
  
} */
.list-body {
  display:flex;
}

.list-body-left{
  flex: 5;
  display: flex;
  justify-content: flex-start;
  padding: 10px;
}
.list-body-center{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
  
}
.list-center-order{
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: 70px;
}
.list-body-right{
  flex: 5;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
}
.person-detail{
  display:flex;
  flex-direction: column;
  justify-content: center;
  
}


.register-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  padding: 10px;
  border: solid;
  border-width: 1px;
  border-color: #dde0e0;
  border-radius: 5px;
  box-shadow:0 6px 12px 0 rgba(0, 0, 0, 0.2);
  width: 400px;
  height:fit-content;
  margin-top: 10%;
}

.login-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  padding: 5px;
  margin-top: 10%;
  border: solid;
  border-width: 1px;
  border-color: #dde0e0;
  border-radius: 5px;
  box-shadow:0 6px 12px 0 rgba(0, 0, 0, 0.2);
  width: 400px;
  height:fit-content;

}

.work-edit{
  width: 400px;
}

.update-action-butons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;

}

/* WORK SHOW PAGE */
.work-show-container{
  display:flex;
  flex-direction: column;
  padding: 5px;
  margin: 10px;
  border: solid;
  border-width: 1px;
  border-color: #dfe5f5;
  border-radius: 5px;
  background-color: #f8f8f8;
}
.show{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin: 10px;
  padding: 2px;
  justify-content: center;
  
}
.show-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.show-header h2{
  margin-left: 10px;
}
.show-header-right {
  flex: 5;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: nowrap;
  margin: 5px;
  padding: 5px;
  align-items: center;
}

.show-header-center{
  flex: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px;
}
.show-header-left{
  flex:2;
  display: flex;
  flex-direction: row;
  margin: 5px;
  padding: 5px;
  justify-content: center;
  align-items: center;
}

.show-body {
  display:flex;
  margin: 10px;
  padding: 10px;
}

.show-body-left{
  flex: 5;
  display: flex;
  justify-content: flex-start;
  padding: 10px;
  margin: 10px;
}
.show-body-bottom{
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
  margin: 20px 20px 20px 20px;
  
}

.show-body-right{
  flex: 5;
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  margin: 10px;
}

/* WORK SHOW PAGE END*/



/* WORK CREATE PAGE */
.work-create{
  width: 400px;
}
/* WORK CREATE END */


/* ACCOUNT PAGE */
.account{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px 2px 2px 2px;
  padding: 2px;
  
}
.account-statistic{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  margin-bottom: 10px;
  height: fit-content;
  border: solid;
  border-width: 1px;
  border-color: #dde0e0;
  border-radius: 5px;
  box-shadow:0 6px 12px 0 rgba(0, 0, 0, 0.2);
  
}
.statistic-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom:solid #dbe4fa ;
  border-top:solid #dbe4fa;
  border-width: 1px;
  padding-top: 5px;
  padding-bottom: 5px;
  height: fit-content;
}
.user-statistic-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 5px;
  padding: 15px;
  background-color: #f6f5ff;
}
.user-statistic{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 5px;
  padding: 0px 20px 20px 0px;
}

.account-assigners, .account-support{
  display: flex;
  flex-direction: column;
  margin: 1px;
  padding: 10px;
  margin-top: 10px;
  border: solid;
  border-width: 1px;
  border-color: #dde0e0;
  border-radius: 5px;
  box-shadow:0 6px 12px 0 rgba(0, 0, 0, 0.2);
}

.account-header{
  display: flex;
  margin:2px;
  margin-bottom: 10px;
  padding: 3px;
  padding-bottom: 10px;
  border-bottom: solid #c3cfcf;
  border-width: 2px;
  border-radius: 1px;
}

.account-image{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #66558f;
  border-radius: 100%;
  height: 70px;
  width: 70px;
  
}
.account-image h1{
  color: #dde0e0;
  
}
.account-details{
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 5px;
}
.account-details{
  font-family: 'Arial Narrow';
}
.assigners-list{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.assigners-list-avatar{
  flex: 1;
}
.assigners-list-details{
flex: 3;
display: flex;
justify-content: center;
align-items: center;
}
.assigners-list-icon{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
.assigners-list-typography{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
/* ACCOUNT PAGE END */

.skeleton,.search-page{
  display:flex;
  flex-direction: column;
}

.empty-list{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  padding: 1px;
  margin: 5px;
  border: solid;
  border-width: 1px;
  border-color: #dfe5f5;
  border-radius: 5px;
  background-color: #f8f8f8;
}


.sort{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 5px;
  padding: 5px;

}

#search{
  display: block;
  background-color:  #ffffff;
  border-radius: 5px;
  padding:5px;
  margin:20px;
  height: 50px;
  width: 100%;
  border:solid  #ffffff;
  
}
#search:focus{
  border:none;
  outline: none;
  box-shadow:0 4px 8px 0 rgba(78, 77, 143, 0.2);
  transform: scale(1.025);
}
.search-input{
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-worklist-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  margin-top: 3px;
  margin-bottom: 3px;
 
}
.title-list-of-works{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 3px;
}
                        
.list-search-icon{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.results{
  display:flex;
  justify-content: flex-start;
  padding:10px;
  margin:10px;
}

.result{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:5px;
  margin:5px;
  margin-bottom: 8px;
}
.search-page, .show-page, .account-page, .person-detail-page {
  display:flex;
  flex-direction:column;
  justify-content: center;
  padding:10px;
  margin-right: 10px;
  margin-left: 10px;
  
}

.search-container{
  display:flex;
  flex-direction:column;
  justify-content: center;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-bottom: 10px;
  
}
.sort-button{
  display:flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  padding: 10px 20px;
  font-size: 18px;
  border:none;
  outline: none;
  border-radius: 20px;
  color:#554086;
}

.sort-button:hover{
  background-color: #655786;
  color: #f6f5ff;
}

.person-info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow:0 4px 8px 0 rgba(78, 77, 143, 0.2);
  border-radius: 5px;
  border: rgba(78, 77, 143, 0.2);
  padding-top: 20px;
  
  height: 200px;
}
.person-stats{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow:0 4px 8px 0 rgba(78, 77, 143, 0.2);
  border-radius: 5px;
  border: rgba(78, 77, 143, 0.2);
  font-weight: 500;
  height: 250px;
  background: rgb(95,90,209);
background: linear-gradient(148deg, rgba(95,90,209,1) 12%, rgba(183,112,221,1) 98%);
  
}

.person-monthly{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow:0 4px 8px 0 rgba(78, 77, 143, 0.2);
  border-radius: 5px;
  border: rgba(78, 77, 143, 0.2);
  margin-bottom: 10px;
}
.person-menu{
  display: flex;
  flex-direction: row;
  justify-content:space-between ;
  align-items: center;
}
.person-monthly p{
  font-size: 20px;
  font-weight:400;
}
.monthly-graph{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.monthly-header{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  
}

#bar-graph{
  height: 400px;
  width: 400px;
}



/* 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
